<% content_for :title, "Arnold Clark Vehicle Image Search" %>
<form id="search-form" action="javascript:void(0);">
  <div id="search-form-header">
    <%= image_tag("arnold-clark-logo.png", alt: "Arnold Clark", size: "290x94") %>
  </div>
  <div id="error-message" class="error message">
    <p>Please supply valid input for all fields below.</p>
  </div>
  <fieldset form="search-form">
    <label for="vehicle-registration">Vehicle Registration</label>
    <input id="vehicle-registration" type="text" placeholder="PF62KMY" title="Please enter a valid vehicle registration." pattern="^[a-zA-Z0-9]{1,}$" required />
    <label for="stock-reference">Stock Reference</label>
    <input id="stock-reference" type="text" placeholder="ARNEA-U-7669" title="Please enter a valid stock reference." pattern="^[a-zA-Z0-9\-]{9,}$" required />
    <input id="search-button" type="button" value="Search Stock" />
  </fieldset>
</form>
<div id="vehicle-images">
</div>
<div id="photowall">
  <div class="body">
  </div>
</div>
<img src="/images/default.png" class="image-preload"/>
