.message {
  width: 320px;
  height: 15px;
  border: 1px solid;
  color: #fff;
  padding: 15px;
  position: absolute;
  display: none;
  text-align: center;
}

.message p {
  margin: 0;
}

.error {
  background-color: #de4343;
  border: 0;
}
