#search-form {
  width: 350px;
  height: 480px;
  position: absolute;
  z-index: 99;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #888888;
  background: rgb(235,235,235);
  background-color: rgb(235,235,235);
}

#search-form-header {
  padding: 20px;
  background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #083553),
	color-stop(1, #2985BE)
  );
  background-image: -o-linear-gradient(top, #083553 0%, #2985BE 100%);
  background-image: -moz-linear-gradient(top, #083553 0%, #2985BE 100%);
  background-image: -webkit-linear-gradient(top, #083553 0%, #2985BE 100%);
  background-image: -ms-linear-gradient(top, #083553 0%, #2985BE 100%);
  background-image: linear-gradient(to top, #083553 0%, #2985BE 100%);
  -moz-border-top-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
}

#search-form-header img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto auto;
}

#search-form fieldset {
  margin: 25px;
  margin-top: 50px;
  border: 0;
}

#search-form label {
  font-size: 140%;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

#search-form input[type='text'] {
  text-transform: uppercase;
  background-color: rgb(245,245,245);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 1px solid rgb(175,175,175);
  padding: 7px 40px 7px 10px;
  border-radius: 0;
  color: rgb(175,175,175);
  font-size: 112%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 8px;
  background: rgb(245,245,245);
  margin-bottom: 25px;
  margin-top: 15px;
}

#search-form input[type='text']:focus {
  background: rgb(255,255,196) !important;
  background-color: rgb(255,255,196) !important;
}

#search-form input[type='button'] {
  padding: 10px 40px;
  width: 100%;
  text-decoration: none;
  font-size: 140%;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  background: rgb(54, 173, 71);
  cursor: pointer;
  border: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#search-form input[type='button']:hover {
  background: rgb(39,148,45);
}
