<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'jquery-ui.min.css', 'jquery-ui.structure.min.css', 'jquery-ui.theme.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'creotiv/jquery-photowall/jquery-photowall', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'zoomscript/themes/light/styles/common', 'zoomscript/themes/light/styles/monitor', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'creotiv/jquery-photowall/jquery-photowall' %>
  <%= javascript_include_tag 'jquery-ui.min', 'jquery.zoomscript.min', 'translations' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
